<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chan.movie">

    <application>
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/Theme.CleanArchitectureStudy.NoActionBar">
        </activity>
    </application>

</manifest>